# requirements.txt
# Tested environment: Python 3.10,(Google Colab A100 GPU)

# Core deep learning
torch>=2.0.0
torchvision>=0.15.0

# Tabular / ML
xgboost>=1.7.0
scikit-learn>=1.2.0

# Data
pandas>=1.5.0
openpyxl>=3.0.10
numpy>=1.23.0

# Statistics & plotting
scipy>=1.10.0
matplotlib>=3.6.0

# SAINT dependency
einops>=0.6.0

# Utilities
pathlib2>=2.3.7; python_version < "3.4"
